@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url("tldraw/tldraw.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border: 1px solid white;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: "Inter";
    background: #1c1e29 !important;
}

.clickedLabel {
    background: #64748b;
    color: white;
}

.CodeMirror {
    height: 69vh;
    overflow-y: scroll;
}

.CodeMirror-focused .CodeMirror-selected {
    background: #165674;
}

@media (max-width: 768px) {
    .CodeMirror {
        height: 55vh;
        overflow-y: scroll;
    }
}